*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  background-color: #333;
  height: 50px;
  width: 100vw;
  text-align: center;
  font-size: 30px;
  color: white;

}

.App {
  background-image: linear-gradient(to left top, #041125, #06344e, #005b77, #00859b, #0bb1b7);
  min-height: calc(100vh - 50px);
  height: auto;
  display: flex;
  flex-direction: row

}


.cardContainer {
  width:500px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1%;
  background-color: #E6F4F1;
  padding: 10px;
}

.card {
  width: 19%;
  height: 19%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #c1f1e5;
  font-size: 80%;
} 




.wasClicked{
  background-color: #FB9038 ;
} 


.center {
  width: 19%;
  height: 19%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #002A3D;
  color: antiquewhite;
  font-weight: bolder;
} 


.left-box {

  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}


.ControlBoard {
  width: 100%;
  background-color: #c1f1e5;
  padding: 20px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.ControlBoard-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: stretch;
  justify-content: center;
  align-content: flex-start;
  padding: 5%;
}



button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

       
 input {
  padding: 5px;
  font-size: 16px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
}


.Scoreboard {
  background-color: #c1f1e5;
  width: 100%;
  height: 70%;
  padding: 20px;
  
}

.Scoreboard > *{
  padding-top: 10px; ;
}

.rank {
  width: 100%;
  height: auto;
  overflow: auto;
  overflow-wrap: break-word;
  display: flex;
  justify-content: space-between;
}


@media only screen and (max-width: 760px) and (min-width: 480px) {


  .cardContainer {
    width: 400px;
    height: 400px;
  }

  .card {
    font-size: 70%;
  }
}


@media only screen and (max-width: 480px)  {

.App {
  flex-direction: column;
}


.left-box {
  width: 100%;
  height: 100%;
}

.right-box {
  width: 100%;
  height: 100%;
}


  .cardContainer {
    width: 330px;
    height: 330px;
  }

  .card {
    font-size: 60%;
  }
}


